always-auth = true
cafile = "/Users/eyalk/Desktop/poc/github-app-js-sample/eyalk-experiments-app.2024-09-24.private-key.pem"
email = "eyalk@jfrog.com"
package-lock = false
strict-ssl = false
hehlp = true
always-auth = true
json = false
registry = http://localhost:8083/artifactory/api/npm/cli-npm-remote-1746360429
